{{template "base" .}}
{{define "content"}}

<div class="container">
    <div class="row">
        <div class="column">
            <header>This header eli H tagi</header>
        </div>
    </div>
</div>

{{end}}