{{template "base" .}}
{{define "content"}}

<div class="container">
    <div class="row">
        <div class="column">
            <h1>About</h>
            
            <p>
               Visit home page <a href="/">Home</a>
            
            </p>
            
        </div>
    </div>
</div>

{{end}}