{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <header>This header paskaa</header>
            <p>Paragraph starts here telling nothing at all</p>
            <p>Paragraph 2 </p>
            
            <p>Testi</p>
        </div>
    </div>
</div>
{{end}}