{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">

            <h1>Blacklodge</h1>
            <img src="/static/images/eevi.jpg" class="img-fluid img-thumbnail d-block mx-auto room-image" alt="EEVI">
                        
            <p>Kiitos ja hei</p>
        </div>
    </div>
</div>

{{end}}