{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <header>Blacklodge</header>
            
            <img src="images/eevi_ears_closeup.jpg" alt="eevi2">
            
            <p>Kiitos ja hei</p>
        </div>
    </div>
</div>
{{end}}